
@font-face {
  font-family: 'Carter One MultiCyr';
  src: url('CarterOneMultiCyr.eot?#iefix') format('embedded-opentype'),  url('CarterOneMultiCyr.woff') format('woff'), url('CarterOneMultiCyr.ttf')  format('truetype'), url('CarterOneMultiCyr.svg#CarterOneMultiCyr') format('svg');
  font-weight: normal;
  font-style: normal;
}
